:root {
    --search-bg-button: #007fad;
    --price-before: #c94a34;
    --rating-starts: #f6ab3f;
    --info-bg: #9ba2a6;
    --text-primary: #37454d;
}

/* CSS Custom reset*/
input,select,body,h1,h2,h3,h4,h5,h6{
    border: none;
    background: none;
    margin: 0px;
    padding: 0px;
}

option{
    background-color: #ebeced;
    color: #37454d;
    padding: 5px;
 
}

body {
    background: #fbfbfb;
    font-family: sans-serif;
}

input:focus, text:focus {
    outline: none !important;
}

.hotels-page {
    background-color: #ebeced;
    width: 950px;
    height: 100%;
    margin: 0 auto;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.36);
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.36);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.36);
    padding-bottom: 5px;
}

    .hotels-page .search-and-filter {
        background: #37454d;
        color: #6c767c;
    }

        .hotels-page .search-and-filter .fa {
            padding: 0px 15px;
        }

        .hotels-page .search-and-filter .first-row {
            display: flex;
            height: 45px;
            padding: 0px 10px;
        }

            .hotels-page .search-and-filter .first-row .first-col {
                width: 85%;
                background-color: white;
                display: flex;
                align-items: center;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }
           
            .hotels-page .search-and-filter .first-row .first-col .fa-solid{
                line-height: 30px;
                padding: 0px 10px;
            }
                .hotels-page .search-and-filter .first-row .first-col input {
                    height: 100%;
                    width: 100%;
                    line-height: 30px;
                    padding: 0px 15px;
                }


            .hotels-page .search-and-filter .first-row .second-col {
                width: 15%;
                background-color: #007fad;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }

                .hotels-page .search-and-filter .first-row .second-col input {
                    cursor: pointer;
                    color: #fff;
                    width: 100%;
                    height: 100%;
                }

        .hotels-page .search-and-filter .second-row {
            display: flex;
            padding: 5px 10px;
            height: 45px;
            justify-content: space-between;
        }

            .hotels-page .search-and-filter .second-row .col {
                width: 32%;
                background-color: white;
                display: flex;
                align-items: center;
                border-radius: 3px;
            }

                .hotels-page .search-and-filter .second-row .col input {
                    width: 100%;
                    height: 100%;
                }

                .hotels-page .search-and-filter .second-row .col select {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }

            .hotels-page .search-and-filter .second-row .first-col {
                border-left: 7px solid #007fad;
            }

            .hotels-page .search-and-filter .second-row .second-col {
                border-left: 7px solid #f48f00;
            }

        .hotels-page .search-and-filter .third-row {
            display: flex;
            padding: 10px;
            height: 45px;
            font-size: 15px;
            justify-content: space-between;
        }

            .hotels-page .search-and-filter .third-row select {
                color: #fff;
                width: 100%;
                cursor: pointer;
            }

            .hotels-page .search-and-filter .third-row .col {
                border-right: 1px solid #d2d2d2;
                padding-right: 15px;
                min-width: 122px;
            }

                .hotels-page .search-and-filter .third-row .col:last-child {
                    border: none;
                }

                .hotels-page .search-and-filter .third-row .col .label {
                    text-align: left;
                    color: #d2d2d2;
                }

            .hotels-page .search-and-filter .third-row .first-col {
                width: 296px;
            }

                .hotels-page .search-and-filter .third-row .first-col .label {
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 15px;
                }

                .hotels-page .search-and-filter .third-row .first-col input {
                    width: 100%;
                    background: #007fad;
                    -webkit-appearance: none;
                    height: 5px;
                    border-radius: 2px;
                    display: flex;
                    cursor: pointer;
                    display: flex;
                }

            .hotels-page .search-and-filter .third-row input[type=range]::-webkit-slider-thumb {
                height: 21px;
                width: 21px;
                border-radius: 50px;
                background: #d2d2d2;
                cursor: pointer;
                -webkit-appearance: none;
            }
            .hotels-page .map-and-sort{
                display: flex;
                justify-content: space-between;
                padding-top: 15px;
                padding-left: 10px;
                padding-right: 10px;
            }
    
            .hotels-page .map-and-sort .map iframe{
                border : 2px solid #fff;
            }
            .hotels-page .map-and-sort .sorting{
                color: #37454d;
                display: flex;
                align-items: center;
    
            }
            .hotels-page .map-and-sort .sorting select{
                width: 250px;
                background-color: #fff;
                border-radius: 3px;
                border: 1px solid #9ba2a6;
                padding: 5px;
                cursor: pointer;
                height: 40px;
                margin: 0px 10px;
            }
    
            .hotels-page .map-and-sort .sorting .info-icon{
                width: 27px;
                height: 27px;
                line-height: 27px;
                text-align: center;
                background-color: #9ba2a6;
                color: #fff;
                font-size: 15px;
                font-weight: bold;
                border-radius: 15px;
                position: relative;
                cursor: pointer;
            }
            .hotels-page .map-and-sort .sorting .info-icon:hover:after {
                content:'Click me for more information';
                position: absolute;
                width: 300px;
                top: 0px;
                left: 50px;
                background-color: #9ba2a6;
                border-radius: 10px;
                color: #ffff;
            }
            .hotels-page .listing-hotels{
                padding: 0px 10px;
                margin-bottom: 120px;
               }
               .hotels-page .listing-hotels .hotel-card{
                display: flex;
                margin-top: 15px;
                height: 224px;
                background-color: #fff;
                border-radius: 3px;
                box-shadow: 0px 0px 4px 2px rgba(159, 159, 159, 0.20);
                
               }
               .hotels-page .listing-hotels .hotel-card .photo{
                width: 230px;
                position: relative;
                padding: 2px;
                background-size: cover !important;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                filter: grayscale(100%);
                filter: brightness(0.80);
                transition: 0.3s;
                
                
               }
               .hotels-page .listing-hotels .hotel-card .photo:hover{
                filter: grayscale(0%);
                filter: brightness(1);
        
               }
               .hotels-page .listing-hotels .hotel-card .photo span{
                position: absolute;
                bottom: 8px;
                left: 8px;
                padding: 7px 3px;
                color: #fff;
                background-color: rgba(0, 0, 0, 0.3);
                color: #fff;
                letter-spacing: 1.9px;
                font-size: 14px;
                font-weight: bold;
                border-radius: 3px;
                cursor: pointer;
                
               }
        
               .hotels-page .listing-hotels .hotel-card .photo span:hover{
                background-color: rgba(40, 40, 40, 0.3);
               }
                 
               .hotels-page .listing-hotels .hotel-card .photo .fa{
                color: rgba(0, 0, 0, 0.5);
                position: absolute;
                top: 16px;
                left: 12px;
                font-size: 20px;
               }
               .hotels-page .listing-hotels .hotel-card .photo .fa:hover{
                color: red;
               }
               .hotels-page .listing-hotels .hotel-card .hotel-details{
                margin-top: 15px;
                width: 340px;
                color: #37454d;
                padding: 0px 15px;
               }
               
        
               .hotels-page .listing-hotels .hotel-card .hotel-details .rating .fa-star{
                margin-top: 6px;
                font-size: 14px;
                color: #ffb400;
                letter-spacing: -3.5px;
               }
               .hotels-page .listing-hotels .hotel-card .hotel-details .rating small{
                font-size: 14px;
                margin-left: 6px;
                
               }
        
        
               .hotels-page .listing-hotels .hotel-card .hotel-details .location{
        
                margin-top: 20px;
               }
        
               .hotels-page .listing-hotels .hotel-card .hotel-details .reviews{
                margin-top: 20px;
                margin-bottom: 20px;
               }
        
               .hotels-page .listing-hotels .hotel-card .hotel-details .reviews .total{
                background-color: green;
                font-weight: bold;
                color: #fff;
                padding: 3px;
                border-radius: 3px;
               }
        
               .hotels-page .listing-hotels .hotel-card .hotel-details .location-reviews{
                margin-top: 20px;
               }

               .hotels-page .listing-hotels .hotel-card .third-party-prices {
                width: 125px;
                text-align: center;
                font-size: 15px;
                padding: 5px 10px 5px 10px;
                border-right: 1px solid #ebeced;
                border-left: 1px solid #ebeced;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
            .hotels-page .listing-hotels .hotel-card .third-party-prices .sites-and-prices {
                height: 155px;
                color: #6c767c;
                border-bottom: 1px solid #ebeced;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
    
            .hotels-page .listing-hotels .hotel-card .third-party-prices .sites-and-prices div strong {
                display: block;
            }
            .hotels-page .listing-hotels .hotel-card .third-party-prices .sites-and-prices .highlited{
                padding: 5px;
                background-color: #b4f0f0;
                color: #007fad;
            }
            .hotels-page .listing-hotels .hotel-card .third-party-prices .more-deals{
                font-size: 14px;
                color: #37454d;
    
            }
            .hotels-page .listing-hotels .hotel-card .call-to-action{
                position: relative;
            }
            .hotels-page .listing-hotels .hotel-card .call-to-action .price{
                padding: 10px;
                height: 150px;
                
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                text-align: center;
    
            }
            .hotels-page .listing-hotels .hotel-card .call-to-action .price .before-discount{
                font-size: 14px;
                font-weight: bold;
                color: #c94a34;
    
            }
            .hotels-page .listing-hotels .hotel-card .call-to-action .price .before-discount strong{
                font-size: 18px;
                line-height: 30px;
                display: block;
    
            }
            .hotels-page .listing-hotels .hotel-card .call-to-action .price .after-discount{
                font-size: 14px;
                color: green;
            }
    
    
            .hotels-page .listing-hotels .hotel-card .call-to-action .price .after-discount strong{
                font-size: 21px;
                line-height: 30px;
                display: block;
            }
            .hotels-page .listing-hotels .hotel-card .call-to-action .price .total{
                font-size: 14px;
                color: black;
    
            }
            .hotels-page .listing-hotels .hotel-card .call-to-action .price .total strong {
                font-size: 14px;
                color: green;
                display: inline;
            }
    
         .hotels-page .listing-hotels .hotel-card .call-to-action .price .usp{
                border: 1px solid green;
                width: 200px;
                padding-top: 3px;
                padding-bottom: 3px;
                border-radius: 3px;
                }
                .hotels-page .listing-hotels .hotel-card .call-to-action .price .button a{
                    background: #428500;
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                    right: 10px;
                    padding: 12px;
                    text-align: center;
                    color: white;
                    text-decoration: none;
                    border-radius: 3px;
                    font-weight: bold;
    
                }
                .hotels-page .listing-hotels .hotel-card .call-to-action .price .button a:hover{
                    color: #428500;
                    background:#fff;
                    border: 1px solid #428500;
                }
        